@use '../variables' as *;

.cta-button{
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    background: $color-white;
    color: $color-secondary;
    border-radius: 50px;
    box-shadow:  0 10px 30px rgb(212 81 30 / 30%);
    font-family: $font-secondary;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s  ease;
 
    &:hover{
        box-shadow:  0 10px 30px rgb(212 81 30 / 30%);
        transform: translateY(-2px);
    }
}