/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 /**
 * Import dependencies
 */
@use "dependencies";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

//  @use "layouts/home";

/**
 * Do NOT include anything else in this file!
 */
// 1. Configuration
@use 'variables';
@use 'abstracts/functions' as *;


// 2. Layouts
@use 'layouts/nav';
@use 'layouts/header';
@use 'layouts/footer';

// 3. Components
@use 'components/button';
@use 'components/poster';
@use 'components/info-card';
@use 'components/article';
@use 'components/ponentes-card';
@use 'components/contact-form';
@use '../../../node_modules/bootstrap/scss/bootstrap';

@layer reset, base, typography, components, overrides;